body {
  font-family: Arial;
  text-align: center;
  background-image: url("img/scott-lord-tQLIYGBQkh8-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  overflow: hidden;
  border-image: auto;
}
.V {
  background-image: url("img/329f36d7fc51c9768c863867120085fc.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  overflow: hidden;
  border-image: auto;
}
.result{
  
  animation: resultimg 10s ease-in-out infinite alternate-reverse ;
}
@keyframes resultimg{
  0%{
  background-image: url("img/d0c0a04e02e84404a365c3e5d23a9e7c.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  border-image: auto;
  }
  25%{
    background-image: url("img/54a8ede46655dbb62f1779833183bad8.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  border-image: auto;
  }
  50%{
    background-image: url("img/52f3111e8f4a4ecdaaaed339fa2fd0f3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  border-image: auto;
  }
  75%{
    background-image: url("img/9fcbeca0cfec688f86caae112fd5393f.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  border-image: auto;
  }
  100%{
    background-image: url("img/5c349d06803e80d9d5521f47213289f2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  border-image: auto;
  }
}
nav {
  background: #333;
  padding: 20px;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover {
  text-transform: scale(5, 5);
  text-shadow:
    3px 3px 4px crimson,
    -3px -3px 4px blueviolet;
}

form {
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 80%;
  max-width: 900px;
  margin: 30px auto;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}
form button {
  margin-top: 50px;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  background-color: aqua;
  color: rgb(26, 0, 0);
  box-shadow: 4px 4px 5px black;
  text-shadow: 3px 3px 4px whitesmoke;
}
form button:hover {
  text-transform: uppercase;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow:
    4px 4px 5px rgb(255, 0, 0),
    -4px -4px 5px rgb(132, 0, 255);
  text-shadow: 3px 3px 4px rgb(4, 255, 0);
}
#voterId {
  border: 2px solid aqua;
  border-radius: 15px;
}
.dis {
  display: flex;
  gap: 3px;
  justify-content: space-evenly;
}
.lodIn {
  text-decoration: none;
  align-items: center;
  margin-right: 1400px;
}
.lodIn button {
  width: 80px;
  height: 20px;
  border-radius: 80px;
  background: linear-gradient(
    rgb(1, 1, 249),
    rgb(0, 89, 255),
    rgb(0, 198, 255),
    rgb(0, 255, 247)
  );
}
.lodIn button:hover {
  animation: rainbow 3s linear infinite;
}
@keyframes rainbow {
  0% {
    background-position: 200% 0;
  }
}
.io {
  width: 100px;
  height: 120px;
  border: 2px solid black;
  color: #333;
}
.io img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.io:hover {
  transform: scale(1.5, 1.5);
  border-radius: 10px;
  border: 2px solid crimson;
  box-shadow:
    3px 3px 4px red,
    -3px -3px 4px blue;
  text-shadow:
    3px 3px 4px rgb(255, 0, 0),
    -3px -3px 4px rgb(68, 0, 97);
}
.io:active {
  border-radius: 15px;
  border: 2px solid rgb(26, 255, 0);
  box-shadow:
    3px 3px 4px rgb(0, 255, 17),
    -3px -3px 4px rgb(0, 255, 34);
  color: rgb(8, 168, 0);
}
.ior {
  width: 100px;
  height: 120px;
  border: none;
  border-radius: 50px;
  transform: scale(1.5, 1.5);
  border-radius: 25px;
  
  color: rgb(0, 213, 255);
}
.ior img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
